@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background: radial-gradient(circle, #0b132b 0%, #1c2541 100%);
    margin: 20px;
    transition: background-color 0.5s ease-in-out;
    color: white;
} 
.scroll{
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.519);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher{
    to {scale: 1 1;}
}

.timeline{
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr; 
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    cursor: default;
    transition: all 0.3s ease 0s;  
}
.timeline__components--bg{
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.145);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 20px;
    border-radius: 25px;
    font-family: 'Playfair Display';
    color:whitesmoke; 
}
.timeline__components--bg:hover{
    box-shadow: 0 0 7px black;
}
.timeline__components--bg h1{
    
    transition: all 0.3s ease 0s;
    cursor: default;
    max-width: max-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end);
    color:whitesmoke; 
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.timeline__components--bg h1:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}
.timeline__components{
    margin: 0 20px 20px 20px;
    color:whitesmoke; 

}
.timeline__date--right{
     text-align: right;
     font-family: 'Archivo Black';
     font-size: larger;
     transition: all 0.3s ease 0s; 
     color:whitesmoke; 
}
.timeline__date--right:hover{
    font-size: x-large;
    font-display: flex;
}

.timeline__middle{
    position: relative;
    background: black;
    color:whitesmoke; 
    
}
.timeline__point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    color:whitesmoke; 
}

.timeline__components--bg img{
    max-width: 60%;
    max-height: fit-content;
    border-radius: 100%;
    color:whitesmoke; 
}
.timeline__components--bg button{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: inherit;
    margin-bottom: 5px;
    color:whitesmoke; 
}
